<ion-row padding-top>
  <ion-col col-8>
  </ion-col>
  <ion-col>
    <ion-segment [(ngModel)]="type" mode="ios" color="secondary" (ionChange)="setData()">
      <ion-segment-button value="score">
        <b>Score</b>
      </ion-segment-button>
      <ion-segment-button value="ratio">
        <b>Ratio (%)</b>
      </ion-segment-button>
    </ion-segment>
  </ion-col>
</ion-row>

<ion-card padding-right color="primary">
  <ion-row text-right align-items-center>
    <ion-col col-4 text-center>
      <h1>พรรค</h1>
    </ion-col>
    <ion-col>
      <h2><b>
          <ion-select interface="action-sheet" [(ngModel)]="batch1st" (ionChange)="ngOnInit()">
            <ion-option value="1">24/ 17:45</ion-option>
            <ion-option value="2">24/ 22:33</ion-option>
            <ion-option value="3">25/ 07:59</ion-option>
            <ion-option value="4">25/ 09:52</ion-option>
            <ion-option value="5">25/ 11:11</ion-option>
            <ion-option value="6">28</ion-option>
          </ion-select>
        </b></h2>
    </ion-col>
    <ion-col>
      <h2><b>
          <ion-select interface="action-sheet" [(ngModel)]="batch2nd" (ionChange)="ngOnInit()">
            <ion-option value="1">24/ 17:45</ion-option>
            <ion-option value="2">24/ 22:33</ion-option>
            <ion-option value="3">25/ 07:59</ion-option>
            <ion-option value="4">25/ 09:52</ion-option>
            <ion-option value="5">25/ 11:11</ion-option>
            <ion-option value="6">28</ion-option>
          </ion-select>
        </b></h2>
    </ion-col>
    <ion-col>
      <h2><b>Diff</b></h2>
    </ion-col>
    <ion-col>
      <h2><b>%</b></h2>
    </ion-col>
  </ion-row>
</ion-card>

<ion-item *ngFor="let party of compareScore; let i = index" padding-right>
  <ion-row text-right>
    <ion-col col-4 text-left>
      {{ i+1 }}. {{ party.party }}
    </ion-col>
    <ion-col>
      {{ party.scoreBatch1st | number:'1.0-2' }}
    </ion-col>
    <ion-col>
      {{ party.scoreBatch2nd | number:'1.0-2' }}
    </ion-col>
    <ion-col [class.danger]="error(party.diff)">
      {{ party.diff | number:'1.0-2' }}
    </ion-col>
    <ion-col>
      {{ party.percentDiff | number:'1.0-2' }}
    </ion-col>
  </ion-row>
</ion-item>